<div class="header-panel">
  <div>
    <span><%= current_user.email %></span>
    <%= link_to "Create", new_document_path %>
    <%= link_to "Browse", root_path %>
    <% if current_user.is_admin == true %>
      <%= link_to "Admin", rails_admin_path %>
    <% end %>
  </div>

  <div>
    <%= link_to "SignOut", destroy_user_session_path, method: :delete %>
  </div>
</div>