<table class="table m-t-20" data-filtering="true" data-paging-size="12" data-paging="true">
  <thead>
    <tr>
      <th data-breakpoints="xs">ID</th>
      <th>Customer</th>
      <th>Designer</th>
      <th data-breakpoints="xs">Designer Email</th>
      <th data-breakpoints="xs sm">Date</th>
      <th data-breakpoints="xs sm md"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |doc| %>
      <tr>
        <td> <%= doc.id %> </th>
        <td> <%= doc.customer_name %> </td>
        <td> <%= doc.designer_name %> </td>
        <td> <%= doc.designer_email %> </td>
        <td> <%= doc.date %> </td>
        <td> <%= link_to "View", s3_url(doc), target: "_blank", :class => "btn btn-xs btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  var ready;

  ready = function() {

    $(function () {
      $('.table').footable();
    });

  };
  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
