<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="<%= image_path('process_img.gif') %>">
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<h1 class="text-center m-b-20">Create a new Document</h1>
<%= form_for @document do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Basic Information</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :customer_name, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :customer_name, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :designer_name, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :designer_name, :value => current_user.name, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :finish_name, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :finish_name, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :designer_phone, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :designer_phone, :value => current_user.phone, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :office_phone, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :office_phone, :value => current_user.office_phone, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :designer_email, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :designer_email, :value => current_user.email, :class => 'form-control col-sm-10', :required => true %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.label :date, :class => 'col-sm-4 col-form-label' %>
            <div class="col-sm-8">
              <%= f.text_field :date, :class => 'form-control col-sm-10 datepicker', :required => true %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group row">
            <%= f.label :image_for_the_first_page, :class => 'col-sm-6 col-form-label' %>
            <div class="col-sm-8">
              <%= f.file_field :first_image, :class => 'form-control col-sm-10', :required => true, :accept => "image/*" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :image_for_the_last_page, :class => 'col-sm-6 col-form-label' %> 
            <div class="col-sm-8">
              <%= f.file_field :last_image, :class => 'form-control col-sm-10', :required => true, :accept => "image/*" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Custom pages</h3>
    </div>
    <div class="panel-body">
      <div class="wrapper">
        <div class="drop">
          <div class="cont">
            <i class="fa fa-cloud-upload"></i>
            <div class="tit">
              Drag & Drop
            </div>
            <div class="desc">
              your files to Assets, or 
            </div>
            <div class="browse">
              click here to browse
            </div>
          </div>
          <!-- <output id="list"></output> -->
          <input id="files" name="images" multiple="true" type="file" accept="image/*" style="z-index: 10000" />
        </div>
      </div>

      <ul id="sortable">
      </ul>


      <script type="text/javascript">
        // DatePicker
        $('.datepicker').datepicker(
          {
            format: 'mm/dd/yyyy',
            autoclose: true
          }
        );
        $('.datepicker').datepicker("setDate", new Date());

        // Drag and Drop
        var drop = $("#files");
        var file_list = [];

        drop.on('dragenter', function (e) {
          $(".drop").css({
            "border": "4px dashed #09f",
            "background": "rgba(0, 153, 255, .05)"
          });
          $(".cont").css({
            "color": "#09f"
          });
        }).on('dragleave dragend mouseout drop', function (e) {
          $(".drop").css({
            "border": "3px dashed #DADFE3",
            "background": "transparent"
          });
          $(".cont").css({
            "color": "#8E99A5"
          });
        });

        function handleFileSelect(evt) {
          var files = evt.target.files; // FileList object

          var list_obj = document.getElementById('sortable')
          // while (list_obj.firstChild) {
          //   list_obj.removeChild(list_obj.firstChild);
          // }

          // Loop through the FileList and render image files as thumbnails.
          // save previous length first
          var f_length = file_list.length;
          var pairObj = new Object();
          for (var i = 0, f; f = files[i]; i++) {
            // Only process image files.
            if (!f.type.match('image.*')) {
              continue;
            }

            file_list.push(f);
            pairObj[f] = i + f_length;

            // console.log(file_list.length);

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function(theFile) {
              var file_id_attr = pairObj[theFile];
              return function(e) {
                // Render thumbnail.
                var li = document.createElement('li');
                var close_btn = document.createElement('span');

                close_btn.className = 'close-btn';
                close_btn.onclick = function() {
                  list_obj.removeChild(li);
                }

                li.innerHTML = ['<img class="thumb" src="', e.target.result,
                                  '" title="', escape(theFile.name), '" file_id="', file_id_attr, '"/>'].join('');
                li.insertBefore(close_btn, null);
                list_obj.insertBefore(li, null);
              };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
          }
        }
        $('#files').change(handleFileSelect);

        // Form submit
        $('.new_document').submit(function() {
          var formData = new FormData( this );
          var request = new XMLHttpRequest();
          request.open("POST", "/documents");

          // get all available sorted image list
          var nodes = document.getElementById('sortable').childNodes;

          for(i = 0; i < nodes.length; i ++)
          {
            if(nodes[i].firstChild != null) {
              file_id = parseInt(nodes[i].firstChild.getAttribute("file_id"), 10);
              formData.append("document[images][]", file_list[file_id]);
            }
          }
          request.send(formData);

          $('#myModal').modal();

          request.onload = function(oEvent) {
            if(request.status == 200) {
              // Success
              $('#myModal').modal('hide');
              window.location = '/';
            }
            else {
              // Failure
              $('#myModal').modal('hide');
              alert('Something went wrong! Please try again later.');
            }
          }
          return false;
        });
      </script>
    </div>
  </div>

  <%= f.submit "Submit", :class => 'btn btn-success m-b-20' %>
  <script type="text/javascript">
    $( function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    } );
  </script>
<% end %>
